body {
  background-color: #FFFFFF;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.windowSpace {
  background-color: #101010;
  width: 1280px;
  height: 720px;
  display: block;
}

.left{
  float: left;
}

.middle{
  float: left;
}

.right{
  float:left;
}

#webcam {
  max-width: 100%;
}

#shop{
  width: 320px;
}

.bigWindow {
  width: 640px;
  height: auto;
  position: relative;
}

#weather {
  width: 640px;
  height: 213px;
  margin-top: -40px;
  background-color: #FFFFFF;
}

.longWindow {
  width: 640px;
  height: 213px;
  background-color: #FFFFFF;
}

.window{
  display: block;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 50%;
  height: 240px;
  background-color: #989797;
}

iframe{
  width: 100%;
  height:100%;
}

.title {
  height: 41px;
  width: 640px;
  background-color: #CDCDCD;
}

#announcements{
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Raleway', sans-serif;
  padding-top: 5px;
  padding-left: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: 'Raleway', sans-serif;
  padding-left: 7px;
  font-size: 13px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-tight: auto;
  font-size: 120px;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#clock{
  background-color: #FFFFFF;
}
